      </div>
    </main>
  </div>
  <div class="toast-container" id="toastContainer"></div>
  <div class="modal-overlay" id="modalOverlay">
    <div class="modal" id="modalContent">
      <div class="modal-header">
        <div class="modal-title" id="modalTitle"></div>
        <button class="modal-close" id="modalClose"><svg viewBox="0 0 24 24"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg></button>
      </div>
      <div class="modal-body" id="modalBody"></div>
      <div class="modal-footer" id="modalFooter"></div>
    </div>
  </div>
  <script src="/assets/js/main.js"></script>
  <%- typeof scripts !== 'undefined' ? scripts : '' %>
</body>
</html>
